ZAPI_INSTANCE_ID=sua_instancia_aqui
ZAPI_INSTANCE_TOKEN=seu_token_da_instancia_aqui
ZAPI_CLIENT_TOKEN=seu_client_token_aqui
PUBLIC_BASE_URL=https://testezapi.77indicadores.com.br
NGROK_AUTHTOKEN=seu_authtoken_do_ngrok_aqui
